
<div class="containner_header">
    <div>
        <a class="menu_containner">Yuegene</a>
        <a class="menu_containner">|</a>
        <a class="menu_containner">Learn</a>
        <a class="menu_containner">Product</a>
        <a class="menu_containner">Docs</a>
        <a class="menu_containner">Features</a>
        <a class="menu_containner">Download</a>
    </div>
    
</div>
<div class="containner_1">
    <div class="containner_1_header">
        <h1 class="h1_header">.NET Application C# Hashtag</h1>
        <!-- <ul class="ul1">
            <li *ngFor="let user of users" >
                {{user.id}} - {{user.firstName}} - {{user.lastName}}
            </li>
        </ul> -->
    </div>
    <div class="containner_1_middle">
        <h2>🌻 Learning to code can be intimidating. Shit, that so kind of you.</h2>
    </div>
    <div class="containner_1_blockmaster">
        <div class="containner_1_block1">
            <!-- <img src="https://cdn-icons-png.flaticon.com/512/4228/4228714.png" alt="KL" width="200" height="200"> -->
            <h2>.NET API</h2>
            <ul class="ul1">
                <li *ngFor="let user of users" >
                    {{user.id}} - {{user.firstName}} - {{user.lastName}}
                </li>
            </ul>
        </div>
        <div class="containner_1_block2">
            <h2>Free learn-to-code toolkit</h2>
            <p>With one download, the .NET Coding Pack gives you everything you need to get started coding with C#. The pack includes real developer
                 tools including the VS Code code editor, the .NET SDK, Interactiv
                 e Notebooks, and more!</p>
            <a href="#" class="a_link_purple">Download for Windows -></a>
            <br>
            <br>
            <a href="#" class="a_link_purple">Download for MacOS -></a>
            <br>
            <br>
            <p>Then, Exploring in the .NET Universe</p> 
            <p>With one download, the .NET Coding Pack gives you everything you need to get started coding with C#. The pack includes real developer
                tools including the VS Code code editor, the .NET SDK, Interactiv
                e Notebooks, and more!</p>
        </div>
    </div>
</div>